/*
* Main entry point for library styles.
*/

.originalElement {
	display: none;
}
.editorContainer {
	border: 1px solid #ccc;
	border-top: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

.editorElement {
	padding: 4px;
	min-height: 300px;
}

.panelElement {
	overflow: hidden;
	border: 1px solid #cccccc;
	background-color: #efefef;
	zoom: 1;
	padding: 2px;
	border-left: 0px;
	border-right: 0px;
}

.button-border {
	width: 20px;
	height: 20px;
	background-color: #efefef;
	border: 1px solid #efefef;
	float: left;
}

.button-border:active{
	border: 1px solid #666;
	background-color: #ccc;
}

.button-border:hover{
	border: 1px solid #666;
	background-color: #ddd;
}

.button {
	width: 18px;
	height: 18px;
	overflow: hidden;
	zoom: 1;
	cursor: pointer;
	padding: 0;
	border: none;
	background: none;
}

/*.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	position: absolute;
	z-index: 1;
	top: 135%;
	left: 50%;
	margin-left: -60px;

	opacity: 0;
	transition: opacity 1s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}*/


.has-tooltip {
	display: inline;
}
.tooltip-wrapper {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s;
}
.has-tooltip:hover .tooltip-wrapper {
	visibility: visible;
	opacity: 1;
}

.tooltip {
	display: block;
	position: relative;
	top: 1em;
	right: 50%;
	color: #FFFFFF;
	background: #000000;
	text-align: center;
	border-radius: 4px;
	padding: 3px;

}
.tooltip:after {
	content: '';
	position: absolute;
	bottom: 90%;
	left: 50%;
	margin-left: -8px;
	width: 0;
	height: 0;
	border-bottom: 8px solid #000000;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}